.LoginForm {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	overflow: hidden;
	font-family: "Kaushan Script", cursive;
	position: relative;
}

.LoginForm::after {
	background: url("./../styles/images/paintStrokes.jpg");
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	content: "";
	opacity: 0.7;
}

.login-form {
	padding: 3rem 2rem;
	min-width: 500px;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0 0 30px 2px #a7a7a7;
	-moz-box-shadow: 0 0 30px 2px #a7a7a7;
	box-shadow: 0 0 30px 2px #a7a7a7;
	background-image: url("./../styles/images/paint.jpg");
	background-size: contain;
	background-size: 100% 100%;
}

input {
	padding: 1rem;
	margin: 2px;
	border: none;
	border-top: none;
	border-right: none;
	font-weight: 600;
}

input:hover {
	border-bottom: 2px solid #a8dadc;
}

input:focus {
	outline: none;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 80%;
	font-family: monospace;
	font-size: 1.25rem;
}

.login-button {
	color: white;
	padding: 10px;
	background-color: #213d89;
	width: 80%;
	border: none;
}
.demo-button {
	cursor: pointer;
	margin: 1rem;
	background-color: #2bcbba;
	padding: 10px;
	width: 80%;
	border: none;
}

.login-button:hover {
	cursor: pointer;
}

.form-title {
	text-align: center;
	font-size: 4rem;
	margin: 0;
	padding: 0;
	font-family: cursive;
}
.colourly-logo {
	width: 50%;
	margin: auto;
}

.form-subheading {
	text-align: center;
	font-weight: 400;
	font-size: 2rem;
	margin: 0;
	padding: 0;
	padding-bottom: 1rem;
	color: #487eb0;
}

.p-signup-link {
	font-size: 1rem;
	margin-top: 1rem;
	font-weight: 600;
	color: #487eb0;
}

.signup-link {
	text-decoration: none;
	margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: #2bcbba;
}

.errors {
	background-color: #dca7a6;
	border: 1px solid #471517;
	color: #471517;
	font-size: 14px;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-weight: 600;
}

.catch-phrase {
	font-size: 2rem;
	position: absolute;
	right: 2rem;
	color: #3b4d3a;
}

@media (max-width: 1842px) {
	.catch-phrase {
		top: 1rem;
	}
}
