.profile-container {
	display: flex;
}

.actual-memoji {
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
}

.username-container {
	display: flex;
}

.username-container h3 {
	font-size: 3rem;
}

.username-container button {
	height: 2rem;
	width: 6rem;
	background-color: #0095f6;
	border-radius: 10px;
}

.user-info-container-div {
}
